<h1 id="nebulastoolboxuserguide">Nebulas Toolbox UserGuide</h1>

<p>The Nebulas Toolbox is a tool for you to easily distibute NAS to multiple account (for example Airdrop) and much more.</p>

<p>Currently it supports </p>

<ul>
  <li>NAS equally distribute (Distribute NAS to multiple address equally)</li>

  <li>NAS custom batch distribute (Distribute NAS to multiple address with custom amount per address)</li>

  <li>Smart NAS wallet (the wallet auto checks if there's a tx from owner for given time. If time limit exceeded, the amount can be withdraw to the secondary wallet to avoid wallet loss) (Frontend still developing)</li>
</ul>

<h3 id="nasequaldistribute">NAS Equal Distribute</h3>

<p>For Simple batch distribute, choose "NAS batch distribute" on the left. Click add and enter the name and address. Do it multiple times for all recipients. Enter total NAS amount on the lower right. Then go to next page by clicking forward. Check if the summary is correct. If it's correct, go to the last page and click the button. the NebPay will popup and click send to send the contribution.</p>

<h3 id="nascustomdistribute">NAS Custom Distribute</h3>

<p>For Custom batch distribute, choose "NAS Smart distribute" on the left. Click add and enter the name, address and amount. Do it multiple times for all recipients. Go to next page by clicking forward. Check if the summary is correct. If it's correct, go to the last page and click the button. the NebPay will popup and click send to send the contribution.</p>

<h5 id="forhelpandadvicespleasesendtoljmwowcom">For Help and advices, please send to ljm#wow.com</h5>
